body {
  font-family: Helvetica, sans-serif;
}

h1 {
  background-image: url(./img/pattern.jpeg);
  font-size: 100px;
  color: khaki;
  text-align: center;
}

h2 {
  font-size: 32px;
  color: white;
  opacity: 0.9;
}

p {
  color: black;
  font-size: 16px;
}

.blue {
  font-weight: bold;
  color: blue;
}

h3 {
  font-weight: bold;
  font-size: 19px;
}

#blueh {
  background-color: #7171bd;
}

#green {
  background-color: #44b944;
}

#red {
  background-color: #ff4949;
}
